.page {
  --background: #fafafa;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: var(--font-geist-mono);
  background-color: var(--background);
  padding-top: 2rem;
}

.loading {
  margin-top: 2rem;
}
